<div class="row center teal lighten-1 z-depth-5 " style="border-radius: 20px;">
    <h1 class="header center white-text" style="padding: 10px;">About</h1>
    <div>
    <div> <h3>🎃</h3></div>
        <span class="white-text" style="font-size: 2.5em;">Brayan Bonilla Cruz</span>
    </div>
    <div class="row center col s12">
        <p class="white-text" style="font-size: 1.5em;">This projcet was created by Brayan, Brayan is a student of Instituto Tecnológico de Gustavo A. Madero of the career information and communication technologies</p>
    </div>
</div>